wait = 100
breakpointM = 500
breakpointT = 956
breakpointD = 1280

fontXS = 10
fontSM = 12
fontMD = 14
fontLG = 18
fontXL = 22
fontXXL = 30

headerHeight = 60
sideMenuWidth = 170

lightWhite =  #FFFFFF
lightDark = #2c3e50
lightBlue = #2980b9
darkBlue = #2980b9
lightRed = #e74c3c
darkRed = #c0392b
lightGreen = #2ecc71
darkGreen = #27ae60
lightYellow = #f1c40f
darkYellow = #f39c12
