<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="React boilerplate">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"
  >
  <title>ReacToGo</title>
  <script>
    (function(w) {
      w.ENV = JSON.parse(<%-JSON.stringify(ENV)%>);
    })(window)
  </script>
</head>
<body>
  <div id='app'></div>
  <script src="bundle.js"></script>
</body>
</html>
