.button
  padding: 10px
  box-shadow: inset 0px -2px 0px rgba(0,0,0,0.10)
  font-size: fontSM px
  display: inline-block
  border-radius: 2px
  text-align: center
  cursor: pointer

@media (min-width: breakpointT px)
  .button
    padding: 10px 20px

.button-primary
  background-color: lightGreen
  color: lightWhite
  transition: background-color 0.4s;
.button-primary:hover
  background-color: darkGreen

.button-secondary
  background-color: darkBlue
  color: lightWhite
  transition: background-color 0.4s;
.button-secondary:hover
  background-color: lightBlack

.button-cancel
  background-color: lightGrey
  color: lightWhite
  transition: background-color 0.4s;
.button-cancel:hover
  background-color: darkBlue

.button-danger
  background-color: lightRed
  color: lightWhite
  transition: background-color 0.4s;
.button-danger:hover
  background-color: darkRed

.button-info
  background-color: lightYellow
  color: lightWhite
  transition: background-color 0.4s;
.button-info:hover
  background-color: darkYellow
