.input
  border: 2px solid
  border-radius: 2px
  padding: 10px

.input-primary
  border-color: lightGreen
  color: lightGreen

.input-secondary
  border-color: lightGrey
  color: darkBlue

.input-active
  border-color: lightGreen
  color: darkBlue

.input-error
  border-color: lightRed
  color: lightRed

.input-primary::-webkit-input-placeholder
  color: lightGreen
.input-primary:::-moz-placeholder
  color: lightGreen
.input-primary::::-moz-placeholder
  color: lightGreen
.input-primary:::-ms-input-placeholder
  color: lightGreen

.input-active::-webkit-input-placeholder
  color: lightGrey
.input-active:::-moz-placeholder
  color: lightGrey
.input-active::::-moz-placeholder
  color: lightGrey
.input-active:::-ms-input-placeholder
  color: lightGrey

.input-secondary::-webkit-input-placeholder
  color: lightGrey
.input-secondary:::-moz-placeholder
  color: lightGrey
.input-secondary::::-moz-placeholder
  color: lightGrey
.input-secondary:::-ms-input-placeholder
  color: lightGrey

.input-error::-webkit-input-placeholder
  color: lightRed
.input-error:::-moz-placeholder
  color: lightRed
.input-error::::-moz-placeholder
  color: lightRed
.input-error:::-ms-input-placeholder
  color: lightRed
