.spinner-path
  stroke-dasharray: 2116
  stroke-dashoffset: 2116
  animation: dash 10s linear alternate infinite


@keyframes dash
  0% {
    stroke-dashoffset: 2116;
    fill: #ffffff;
  }

  5% {
    stroke-dashoffset: 2116;
    fill: #ffffff;
  }

  90% {
    stroke-dashoffset: 1500;
    fill: lightGreen;
  }

  100% {
    stroke-dashoffset: 1500;
    fill: lightGreen;
  }
