.spinner-path
  stroke-dasharray: 1000
  stroke-dashoffset: 1000
  animation: dash 2.5s linear alternate infinite


@keyframes dash
  0% {
    stroke-dashoffset: 1000;
    fill: #ffffff;
  }

  5% {
    stroke-dashoffset: 1000;
    fill: #ffffff;
  }

  90% {
    stroke-dashoffset: 500;
    fill: #01DEAC;
  }

  100% {
    stroke-dashoffset: 500;
    fill: #01DEAC;
  }
