// Colors
.light-green
  color: lightGreen

.light-white
  color: lightWhite

.light-grey
  color: lightGrey

.light-red
  color: lightRed

.dark-red
  color: darkRed

.dark-blue
  color: darkBlue

.light-yellow
  color: lightYellow

.dark-yellow
  color: darkYellow

// Font Weight
.text-bold
  font-weight: bold

// Text position
.text-center
  text-align: center

.cursor
  cursor: pointer

// Display
.flex
  display: flex

.inline-block
  display: inline-block

.middle
  vertical-align: middle

.vertical-align-middle
  margin-top: 50%
  -webkit-transform: translate3d(0, -50%, 0)
  -ms-transform: translate3d(0, -50%, 0)
  transform: translate3d(0, -50%, 0)

.flex-1
  flex: 1

.flex-2
  flex: 2

.flex-3
  flex: 3

.flex-center
  align-items: center

// Font Size
.font-xs
  font-size: fontXS px

.font-sm
  font-size: fontSM px

.font-md
  font-size: fontMD px

.font-lg
  font-size: fontLG px

.font-xl
  font-size: fontXL px

.font-xxl
  font-size: fontXXL px

// Tags
h1
  margin: 0
  font-size: fontXL px
  font-weight: bold

h2
  margin: 0
  font-size: fontMD px
  font-weight: bold

h3
  margin: 0
  font-size: fontSM px
  font-weight: bold

p
  margin: 0
  font-size: fontSM px
